
body{
    background-color: #FBCEB1;
    font-family: "Arial";
}

header{
    text-align: center;

}

.cardContainer{
    position: absolute;
    bottom: 20%;
    left: 30%;
    background: rgb(226,88,34);
    background: linear-gradient(128deg, rgba(226,88,34,1) 0%, rgba(119,43,14,1) 100%);
    color: white;
    margin: 10%;
    padding: 10px;
    font-size: 1.5vw;
    line-height: 1vw;
    width: 20.5vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px gray;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.pokeImageBackground{
    text-align:center;
    background: linear-gradient(90deg, rgba(63,251,246,1) 0%, rgba(85,72,185,1) 100%);
    position:absolute;
    width: 20.5vw;
    height: 20vh;

}

.image{
    height: 20vh;
    width: 15vw;
    
}

.info{
    background-color: #00BFFF;
    position: absolute;
    bottom: 10px;
    width: 20.5vw;
    height: 30vh;
    color: black;
}

h3{
   
    text-align: center;
}

h4{
    color: white;

}

ul{
  list-style: none;
  position: absolute;
  left: 10%;
  bottom: 30%;
  width: 20.5vw;
  height: 5vh;
}

li{
   font-size: 15px;
   width: 15vw;
   height: 3vh;

}
.nameInput{
    position: absolute;
    left: 42%;
    bottom: 30%;
    padding-top: 10%;
    padding-right: 15%;
    width: 10vw;
    height: 5vh;
}

input{
    border-radius: 10px;
    padding: 5%;
    border-style: none;
    width: 10vw;
    height: 3vh;
}

button{
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 10px;
    border-style: none;
    background-color: #E25822;
    color: white;
    width: 5vw;
    height: 5vh;
}

button:hover{
    transform: scale(1.5);
}


